<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="acl-annotations">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
